// summaryのアイコンスタイルをリセット
:where(summary) {
	list-style: none;
	cursor: pointer;
}

:where(summary::-webkit-details-marker) {
	display: none;
}

// details部分のスタイル
.details {
	--padding: 1em 1.5em;
	--duration: 0.15s;
	overflow: clip;
	border: 1px solid;
	border-radius: 10px;
	& + .details {
		margin-top: 30px;
	}
}

.details[open] {
	.summary {
		&::after {
			scale: 1 -1;
		}
	}
	.details-content {
		height: auto;
	}
}

.summary {
	--icon-height: 0.66em;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1em;
	padding: var(--padding);
	background: whitesmoke;
	&::after {
		content: "";
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		width: 1em;
		height: var(--icon-height);
		background: black;
		transition: scale var(--duration);
		translate: 0 calc((1lh - var(--icon-height)) * 0.5);
	}
}

// コンテンツ部分(この要素にpaddingはつけない)
.details-content {
}

.details-content-inner {
	padding: var(--padding);
}
